/* Basic style */
:root {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;
}
* {
  box-sizing: border-box;
}
body {
  margin: 2rem;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  background: var(--secondary);
}
h1{
  color: var(--highlight-primary);
  border-style: dotted ;
  border-width: 5px;
  padding: .3em;
}

section {
  max-width: 90vw;
}
a {
  display: inline-block;
  margin: 0.2em;
  padding: 0.4em 0.8em;
  background: var(--secondary);
  color: var(--highlight-primary);
  border: var(--line) solid var(--highlight-primary);
  border-radius: var(--pill);
  font-weight: normal;
  text-decoration: none;
}
a:hover {
  color: var(--primary);
  border-color: var(--primary);
}

/* UI Event Classes */

/* Jump animation on the interaction link */
a:nth-of-type(12) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}


@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/* Jouw animaties */
a:nth-of-type(1){
  color: var(--primary);
}
.color{
  background-color: pink;
}
/* button 2 */

.resize{
  transition: 1s .5s ease;
  width: 10em;
  height: 10em;
  text-align: center;
  padding: 3em;
  background-color: magenta;
}
/* button 3 */
a:nth-of-type(3){
  transition: 1s .1s ease;

}

.border{
border-style: solid;
border-color: #ff7a91; 
border-radius: 50%;
border-width: 5em;
rotate: 1turn;
}

.border:hover {
 color: #ff7a91;
 border-color: #ff7a91;
}
/* button 4 */
.gradient{
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, #9b77ef 100%);
  transition: .8s .2s ease;
  width: 10em;
  height: 5em;
border-style: dotted;
border-width: .5em;
border-radius: 50%;
padding: 1em;
}

/* button 5 */
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.shake {
  animation: roll 2s infinite;
  transform: rotate(360deg);
  display: inline-block;
  opacity: .7;
  background-color: #720013;
  transition: 1s .1s ease-in-out;
}
/* button 6 */
.flip {
  transform: rotateX(360deg);
  animation:  1s infinite;
  animation-direction: alternate;
  background-color: hwb(330 13% 10%);
  transition: 1s .1s ease-in-out;
}

/* Button 7 */
.turn {
  transform: rotateY(180deg);
  transition: 1s .1s ease-in-out;
  background-color: #eaa65d;
}
/* button 8 */
.popup{
  align-items: center;
  width: 500px; height: 400px;
  display: none;
  position: absolute;
  z-index: 1;
}
.popup img{
  width: 100%;
  height: 100%;
}
.popupshow{
  display: flex; 
  width: 500px;
  height: 400px;

}
/* button 9 */
.slide{
  animation: slide 3s infinite;
  background-color: greenyellow;
}

@keyframes slide{

50%{
  transform: translate(50px);
}
}

/* button 10 */
.color-change-animated {
  animation: colorCycle 5s infinite;
  color: black;
  transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}


@keyframes colorCycle {
  0% {
    background-color: #b434db;
  }
  25% {
    background-color: hsl(185, 79%, 53%);
  }
  50% {
    background-color: hsl(284, 85%, 23%);
  }
  75% {
    background-color: hsl(312, 90%, 51%);
  }
  100% {
    background-color: hsl(60, 83%, 52%);
  }
}

.color-change-animated {
  animation: colorCycle 5s infinite;
  color: black;
  transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
  padding: 2em;
  border-radius: 3em;
}

